.flight {
  display: flex;
  flex-direction: column;

  background: var(--white);
  width: fit-content;

  margin: 2em;
  padding: 2em 4em;

  border: 1px solid var(--light-grey);
  border-radius: 0.75em;
}

.flight h3 {
  margin: 0 0 2em;
}

.flight button {
  align-self: flex-end;

  background: var(--dark-blue);
  color: var(--white);

  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.flight button:hover {
  opacity: 0.8;
}

.flight-info {
  display: flex;
  justify-content: space-between;
}

.flight span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flight span p {
  font-weight: bold;
}

.flight-info section {
  background: var(--light-grey);
  padding: 1em 3em;
  margin: 1.5em;

  width: 40%;

  border: 1px solid var(--dark-grey);
  border-radius: 1em;
}

.flight button {
  font-size: 1.1rem;

  margin: 1.5em 1em 1em;
  padding: 0.75em 1.5em;

  border-radius: 1em;
}

.flight img {
  width: 1.5em;
}
