.flight {
  display: flex;
  flex-direction: column;

  background: var(--white);
  width: 100%;

  margin: 2em;
  padding: 2em 4em;

  border: 1px solid var(--light-grey);
  border-radius: 0.75em;
  box-shadow: 1em 1em 3em var(--dark-grey);

  color: var(--dark-grey);
}

.key-facts h4 {
  margin: 0 0 1em;
}

.flight button {
  align-self: flex-end;

  background: var(--dark-blue);
  color: var(--white);

  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.flight button:hover {
  opacity: 0.8;
}

.flight-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3em;
}

.flight-info section:last-child {
  grid-column: 2 / -1;
}

.flight span {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flight span p {
  font-weight: 500;
}

.flight-info section {
  background: var(--light-grey);
  padding: 1em 3em;
  margin: 1.5em 0;

  border: 1px solid var(--grey);
  border-radius: 1em;
}

.flight button {
  font-size: 1rem;

  padding: 0.75em 1.5em;

  border-radius: 0.75em;

  grid-column: 2;
  grid-row: 1;
  align-self: baseline;
}

.flight img {
  width: 1.5em;
}

.key-facts {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 1fr;
  align-items: baseline;

  border-bottom: 1px solid var(--grey);
  margin-bottom: 1em;
}

.option-available {
  color: var(--dark-blue);
  font-weight: 500;
}
