.form {
  display: grid;
  grid-gap: 1em 2em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, minmax(min-content, max-content));

  width: 60%;
  margin: 2em;
  padding: 3em;

  border-radius: 0.75em;
  box-shadow: 1em 1em 3em var(--dark-grey);

  background: var(--white);
}

.form h3 {
  font-weight: 500;
  font-size: 1.4rem;
}

.form input[type='date'] {
  grid-row: 2;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  border-radius: 0.75em;
  padding: 0.8em;
}

.journey-input-header {
  grid-row: 3;
}

.journey-input {
  grid-row: 4;
}

.airport-options {
  grid-row: 5;
}

.airport-choice {
  grid-row: 6;
}

.airport-choice:last-of-type {
  grid-column: 2;
}

.get-flights {
  grid-row: 7;
  grid-column: 2 / -1;

  background: var(--dark-blue);
  color: var(--white);

  font-size: 1.1rem;

  border: none;
  border-radius: 0.75em;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 0.5em 1.5em;

  width: 75%;
  justify-self: end;
}

.get-flights:hover {
  opacity: 0.8;
}
